<apex:page showHeader="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false" standardStylesheets="false" controller="ResponsiveCalendarCtrl">
    
   
    <c:Responsive_Calendar uRL="001280000058WNa" objName="Account"></c:Responsive_Calendar> 
    <!-- my second push into bit bucket. 
    
    -->
</apex:page>