<apex:page >
<apex:form >
<progress max="100" value="0" id="progress"></progress>
<apex:pageblock >
<apex:pageBlockSection >
<apex:inputText label="Name" id="name" />
      <apex:inputText id="adress" label="Address"/>
      <apex:inputText label="street" id="street"/>
      <apex:inputText label="city" id="city"/>
      <apex:inputText label="country" id="country"/>
</apex:pageBlockSection>
 
</apex:pageblock> 
     
   
</apex:form>
</apex:page>